<a href="https://colab.research.google.com/github/MeghaGarg045030/PythonProject_Term1/blob/main/Python_Test_2(045030).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1. Solve for x, y & z where:

Eq1 : x + y + z = 2 | Eq2 : 6x - 4y + 5z = 31 | Eq3: 5x + 2y + 2z = 13

In [1]:
# Given equations
eq1 = lambda x, y, z: x + y + z - 2
eq2 = lambda x, y, z: 6*x - 4*y + 5*z - 31
eq3 = lambda x, y, z: 5*x + 2*y + 2*z - 13

# Solve for z using Eq1
def solve_for_z(x, y):
    return 2 - x - y

# Solve for y using Eq2 and Eq3
def solve_for_y(x, z):
    return (-31 + 6*x + 5*z) / -4

def solve_system():
    for x in range(-100, 101):  # Assume a range for x
        for y in range(-100, 101):  # Assume a range for y
            z = solve_for_z(x, y)
            if eq1(x, y, z) == 0 and eq2(x, y, z) == 0 and eq3(x, y, z) == 0:
                return x, y, z
    return None

# Solve the system of equations
solution = solve_system()

if solution is not None:
    x, y, z = solution
    print("Solution:")
    print("x =", x)
    print("y =", y)
    print("z =", z)
else:
    print("No solution found in the given range.")

Solution:
x = 3
y = -2
z = 1

2.1. Create a Employee Dictionary 'emp_dict' with the given Information

In [2]:
emp_dict = {
    'ABC': {'Name': 'ABC', 'Education': 'Graduate', 'Gender': 'Male'},
    'DEF': {'Name': 'DEF', 'Education': 'Postgraduate', 'Gender': 'Female'},
    'GHI': {'Name': 'GHI', 'Education': 'Postgraduate', 'Gender': 'Male'},
    'JKL': {'Name': 'JKL', 'Education': 'Graduate', 'Gender': 'Other'},
    'MNO': {'Name': 'MNO', 'Education': 'Graduate', 'Gender': 'Female'},
    'PQR': {'Name': 'PQR', 'Education': 'Postgraduate', 'Gender': 'Female'},
    'STU': {'Name': 'STU', 'Education': 'Graduate', 'Gender': 'Male'}
}
def print_employee_table(emp_dict):
  # Print the table header
    print("{:<15} {:<15} {:<10}".format("Name", "Education", "Gender"))
    print("="*40) # Print a line of equal signs for separation

# Loop through employee information in emp_dict and print the table rows
    for emp_info in emp_dict.values():
      # Extract employee information from emp_info dictionary
        name = emp_info['Name']
        education = emp_info['Education']
        gender = emp_info['Gender']
        print("{:<15} {:<15} {:<10}".format(name, education, gender))

print_employee_table(emp_dict)

Name            Education       Gender
========================================
ABC             Graduate        Male
DEF             Postgraduate    Female
GHI             Postgraduate    Male
JKL             Graduate        Other
MNO             Graduate        Female
PQR             Postgraduate    Female
STU             Graduate        Male

2.2. Update the Employee Dictionary 'emp_dict' with the given age column Information

In [3]:
#updating dictionary
age_values = [22, 27, 26, 23, 24, 30, 21]

for index, (emp_id, emp_info) in enumerate(emp_dict.items()):
    emp_info['Age'] = age_values[index]
#printing updated dictionary
def print_employee_table(emp_dict):
    print("{:<15} {:<15} {:<10} {:<5}".format("Name", "Education", "Gender", "Age"))
    print("="*50)

    for emp_info in emp_dict.values():
        name = emp_info['Name']
        education = emp_info['Education']
        gender = emp_info['Gender']
        age = emp_info['Age']
        print("{:<15} {:<15} {:<10} {:<5}".format(name, education, gender, age))

print_employee_table(emp_dict)

Name            Education       Gender     Age
==================================================
ABC             Graduate        Male       22
DEF             Postgraduate    Female     27
GHI             Postgraduate    Male       26
JKL             Graduate        Other      23
MNO             Graduate        Female     24
PQR             Postgraduate    Female     30
STU             Graduate        Male       21

3.1. Create a Dataframe 'emp_df' from the Dictionary 'emp_dict'

3.2. Update the Dataframe 'emp_df' with the given Information

In [4]:
import pandas as pd

# Existing employee dictionary
emp_dict = {
    'ABC': {'Name': 'ABC', 'Education': 'Graduate', 'Gender': 'Male', 'Age': 22},
    'DEF': {'Name': 'DEF', 'Education': 'Postgraduate', 'Gender': 'Female', 'Age': 27},
    'GHI': {'Name': 'GHI', 'Education': 'Postgraduate', 'Gender': 'Male', 'Age': 26},
    'JKL': {'Name': 'JKL', 'Education': 'Graduate', 'Gender': 'Other', 'Age': 23},
    'MNO': {'Name': 'MNO', 'Education': 'Graduate', 'Gender': 'Female', 'Age': 24},
    'PQR': {'Name': 'PQR', 'Education': 'Postgraduate', 'Gender': 'Female', 'Age': 30},
    'STU': {'Name': 'STU', 'Education': 'Graduate', 'Gender': 'Male', 'Age': 21}
}

# Creating the emp_df DataFrame
emp_df = pd.DataFrame.from_dict(emp_dict, orient='index')

# Adding the 'Salary_Lakhs' and 'Bonus%' columns
salary = [6, 15, 20, 5, 10, 18, 12]
bonus_percentage = [12.50,8.75,6.25,10.20,13.60,11.40,9.80]
emp_df['Salary_Lakhs'] = salary
emp_df['Bonus%'] = bonus_percentage

print("Dataframe emp_df with added columns:")
print(emp_df)

Dataframe emp_df with added columns:
    Name     Education  Gender  Age  Salary_Lakhs  Bonus%
ABC  ABC      Graduate    Male   22             6   12.50
DEF  DEF  Postgraduate  Female   27            15    8.75
GHI  GHI  Postgraduate    Male   26            20    6.25
JKL  JKL      Graduate   Other   23             5   10.20
MNO  MNO      Graduate  Female   24            10   13.60
PQR  PQR  Postgraduate  Female   30            18   11.40
STU  STU      Graduate    Male   21            12    9.80

3.3. Update the Dataframe ‘emp_df’ with the given information

In [5]:
import pandas as pd

# Existing employee dictionary
emp_dict = {
    'ABC': {'Name': 'ABC', 'Education': 'Graduate', 'Gender': 'Male'},
    'DEF': {'Name': 'DEF', 'Education': 'Postgraduate', 'Gender': 'Female'},
    'GHI': {'Name': 'GHI', 'Education': 'Postgraduate', 'Gender': 'Male'},
    'JKL': {'Name': 'JKL', 'Education': 'Graduate', 'Gender': 'Other'},
    'MNO': {'Name': 'MNO', 'Education': 'Graduate', 'Gender': 'Female'},
    'PQR': {'Name': 'PQR', 'Education': 'Postgraduate', 'Gender': 'Female'},
    'STU': {'Name': 'STU', 'Education': 'Graduate', 'Gender': 'Male'}
}

# Additional employee information
new_emp_data = {
    'VWX': {'Name': 'VWX', 'Education': 'Postgraduate', 'Gender': 'Male', 'Age': 35, 'Salary_Lakhs': 14.0, 'Bonus%': 5.50},
    'YZA': {'Name': 'YZA', 'Education': 'Graduate', 'Gender': 'Female', 'Age': 28, 'Salary_Lakhs': 7.0, 'Bonus%': 7.75},
    'BCD': {'Name': 'BCD', 'Education': 'Postgraduate', 'Gender': 'Other', 'Age': 32, 'Salary_Lakhs': 8.0, 'Bonus%': 14.80}
}

# To extend emp_dict with new employee data
emp_dict.update(new_emp_data)

# Create the DataFrame
emp_df = pd.DataFrame.from_dict(emp_dict, orient='index')

print(emp_df)

    Name     Education  Gender   Age  Salary_Lakhs  Bonus%
ABC  ABC      Graduate    Male   NaN           NaN     NaN
DEF  DEF  Postgraduate  Female   NaN           NaN     NaN
GHI  GHI  Postgraduate    Male   NaN           NaN     NaN
JKL  JKL      Graduate   Other   NaN           NaN     NaN
MNO  MNO      Graduate  Female   NaN           NaN     NaN
PQR  PQR  Postgraduate  Female   NaN           NaN     NaN
STU  STU      Graduate    Male   NaN           NaN     NaN
VWX  VWX  Postgraduate    Male  35.0          14.0    5.50
YZA  YZA      Graduate  Female  28.0           7.0    7.75
BCD  BCD  Postgraduate   Other  32.0           8.0   14.80

3.4. Create a Column ‘Gross_Salary_Lakhs’ with the following information:

Gross_Salary_Lakhs = Salary_Lakhs * (1 + Bonus%)

In [6]:
# Calculate Gross_Salary_Lakhs and add it as a new column
emp_df['Gross_Salary_Lakhs'] = emp_df['Salary_Lakhs'] * (1 + emp_df['Bonus%'] / 100)

print("DataFrame with Gross Salary:")
print(emp_df)

DataFrame with Gross Salary:
    Name     Education  Gender   Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
ABC  ABC      Graduate    Male   NaN           NaN     NaN                 NaN
DEF  DEF  Postgraduate  Female   NaN           NaN     NaN                 NaN
GHI  GHI  Postgraduate    Male   NaN           NaN     NaN                 NaN
JKL  JKL      Graduate   Other   NaN           NaN     NaN                 NaN
MNO  MNO      Graduate  Female   NaN           NaN     NaN                 NaN
PQR  PQR  Postgraduate  Female   NaN           NaN     NaN                 NaN
STU  STU      Graduate    Male   NaN           NaN     NaN                 NaN
VWX  VWX  Postgraduate    Male  35.0          14.0    5.50             14.7700
YZA  YZA      Graduate  Female  28.0           7.0    7.75              7.5425
BCD  BCD  Postgraduate   Other  32.0           8.0   14.80              9.1840

4.1. Create a Subset ‘emp_df_ss’ from ‘emp_df’ with the following Variables:

{Name, Age, Gross_Salary_Lakhs}

In [7]:
# Creating the subset emp_df_ss
emp_df_ss = emp_df[['Name', 'Age', 'Gross_Salary_Lakhs']]

print("Subset emp_df_ss:")
print(emp_df_ss)

Subset emp_df_ss:
    Name   Age  Gross_Salary_Lakhs
ABC  ABC   NaN                 NaN
DEF  DEF   NaN                 NaN
GHI  GHI   NaN                 NaN
JKL  JKL   NaN                 NaN
MNO  MNO   NaN                 NaN
PQR  PQR   NaN                 NaN
STU  STU   NaN                 NaN
VWX  VWX  35.0             14.7700
YZA  YZA  28.0              7.5425
BCD  BCD  32.0              9.1840

5.1. Create a Copy of 'emp_df' Named as 'emp_df_age_sorted' and Sort {Highest to Lowest} by 'Age'

In [8]:
# Creating a copy of emp_df and sorting by Age
emp_df_age_sorted = emp_df.copy()
emp_df_age_sorted = emp_df_age_sorted.sort_values(by='Age', ascending=False)

print("emp_df_age_sorted:")
print(emp_df_age_sorted)

emp_df_age_sorted:
    Name     Education  Gender   Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
VWX  VWX  Postgraduate    Male  35.0          14.0    5.50             14.7700
BCD  BCD  Postgraduate   Other  32.0           8.0   14.80              9.1840
YZA  YZA      Graduate  Female  28.0           7.0    7.75              7.5425
ABC  ABC      Graduate    Male   NaN           NaN     NaN                 NaN
DEF  DEF  Postgraduate  Female   NaN           NaN     NaN                 NaN
GHI  GHI  Postgraduate    Male   NaN           NaN     NaN                 NaN
JKL  JKL      Graduate   Other   NaN           NaN     NaN                 NaN
MNO  MNO      Graduate  Female   NaN           NaN     NaN                 NaN
PQR  PQR  Postgraduate  Female   NaN           NaN     NaN                 NaN
STU  STU      Graduate    Male   NaN           NaN     NaN                 NaN

5.2. Create a Copy of 'emp_df' Named as 'emp_df_age_salary_sorted' and Sort:

First by 'Age' {Lowest to Highest}, Second by 'Gross_Salary_Lakhs' {Highest to Lowest}

In [9]:
# Creating a copy of emp_df and sorting by Age and Gross_Salary_Lakhs
emp_df_age_salary_sorted = emp_df.copy()
emp_df_age_salary_sorted = emp_df_age_salary_sorted.sort_values(by=['Age', 'Gross_Salary_Lakhs'], ascending=[True, False])

print("emp_df_age_salary_sorted:")
print(emp_df_age_salary_sorted)

emp_df_age_salary_sorted:
    Name     Education  Gender   Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
YZA  YZA      Graduate  Female  28.0           7.0    7.75              7.5425
BCD  BCD  Postgraduate   Other  32.0           8.0   14.80              9.1840
VWX  VWX  Postgraduate    Male  35.0          14.0    5.50             14.7700
ABC  ABC      Graduate    Male   NaN           NaN     NaN                 NaN
DEF  DEF  Postgraduate  Female   NaN           NaN     NaN                 NaN
GHI  GHI  Postgraduate    Male   NaN           NaN     NaN                 NaN
JKL  JKL      Graduate   Other   NaN           NaN     NaN                 NaN
MNO  MNO      Graduate  Female   NaN           NaN     NaN                 NaN
PQR  PQR  Postgraduate  Female   NaN           NaN     NaN                 NaN
STU  STU      Graduate    Male   NaN           NaN     NaN                 NaN

6.1. Create a Dataframe ‘emp_df_filtered’ to Filter ‘emp_df’ using the following Information:

'Age' >= 25 & 'Gender' = 'Female'

In [10]:
# Filtering emp_df based on Age and Gender
emp_df_filtered = emp_df[(emp_df['Age'] >= 25) & (emp_df['Gender'] == 'Female')]

print("emp_df_filtered:")
print(emp_df_filtered)

emp_df_filtered:
    Name Education  Gender   Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
YZA  YZA  Graduate  Female  28.0           7.0    7.75              7.5425

6.2. Create 2 Subsets: ‘emp_df_grad’ & ‘emp_df_postgrad’ from ‘emp_df’ containing Information of Employees having ‘Education’ as ‘Graduate’ & ‘Postgraduate’, respectively

In [11]:
# Creating subsets based on Education
emp_df_grad = emp_df[emp_df['Education'] == 'Graduate']
emp_df_postgrad = emp_df[emp_df['Education'] == 'Postgraduate']

print("emp_df_grad:")
print(emp_df_grad)

print("\nemp_df_postgrad:")
print(emp_df_postgrad)

emp_df_grad:
    Name Education  Gender   Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
ABC  ABC  Graduate    Male   NaN           NaN     NaN                 NaN
JKL  JKL  Graduate   Other   NaN           NaN     NaN                 NaN
MNO  MNO  Graduate  Female   NaN           NaN     NaN                 NaN
STU  STU  Graduate    Male   NaN           NaN     NaN                 NaN
YZA  YZA  Graduate  Female  28.0           7.0    7.75              7.5425

emp_df_postgrad:
    Name     Education  Gender   Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
DEF  DEF  Postgraduate  Female   NaN           NaN     NaN                 NaN
GHI  GHI  Postgraduate    Male   NaN           NaN     NaN                 NaN
PQR  PQR  Postgraduate  Female   NaN           NaN     NaN                 NaN
VWX  VWX  Postgraduate    Male  35.0          14.0     5.5              14.770
BCD  BCD  Postgraduate   Other  32.0           8.0    14.8               9.184

7.1. Create a Dataframe ‘emp_df_merged’ to Inner Merge ‘emp_df_grad’ having only following Variables {Name, Gender, Age} with ‘emp_df_postgrad’ having only following Variables {Name, Gender, Gross_Salary_Lakhs} on ‘Gender’

In [12]:
# Performing an inner merge between emp_df_grad and emp_df_postgrad on 'Gender'
emp_df_merged = pd.merge(emp_df_grad[['Name', 'Gender', 'Age']], emp_df_postgrad[['Name', 'Gender', 'Gross_Salary_Lakhs']], on='Gender', how='inner')

print("emp_df_merged:")
print(emp_df_merged)

emp_df_merged:
  Name_x  Gender   Age Name_y  Gross_Salary_Lakhs
0    ABC    Male   NaN    GHI                 NaN
1    ABC    Male   NaN    VWX              14.770
2    STU    Male   NaN    GHI                 NaN
3    STU    Male   NaN    VWX              14.770
4    JKL   Other   NaN    BCD               9.184
5    MNO  Female   NaN    DEF                 NaN
6    MNO  Female   NaN    PQR                 NaN
7    YZA  Female  28.0    DEF                 NaN
8    YZA  Female  28.0    PQR                 NaN

8.1. Group ‘emp_df’ to Create a Table ‘emp_df_gen_edu’ using ‘Gender’ & ‘Education’ having Count of Employees

In [13]:
# Grouping emp_df by 'Gender' and 'Education' and calculating the count
emp_df_gen_edu = emp_df.groupby(['Gender', 'Education']).size().reset_index(name='Count')

print("emp_df_gen_edu:")
print(emp_df_gen_edu)

emp_df_gen_edu:
   Gender     Education  Count
0  Female      Graduate      2
1  Female  Postgraduate      2
2    Male      Graduate      2
3    Male  Postgraduate      2
4   Other      Graduate      1
5   Other  Postgraduate      1

8.2. Group ‘emp_df’ to Create a Table ‘emp_df_gen_age_sal’ using ‘Gender’ with Average of Variables {Age & Gross_Salary_Lakhs}

In [14]:
# Grouping emp_df by 'Gender' and calculating the average of 'Age' and 'Gross_Salary_Lakhs'
emp_df_gen_age_sal = emp_df.groupby('Gender')[['Age', 'Gross_Salary_Lakhs']].mean().reset_index()

print("emp_df_gen_age_sal:")
print(emp_df_gen_age_sal)

emp_df_gen_age_sal:
   Gender   Age  Gross_Salary_Lakhs
0  Female  28.0              7.5425
1    Male  35.0             14.7700
2   Other  32.0              9.1840

9.1. From the following Cross-Sectional Dataframe 'df_cross_section':

| Company | 2023 | 2024 |
|---------|------|------|
| ZYX     |  123 |  321 |
| WVU     |  456 |  654 |
| TSR     |  789 |  987 |

Create the following Panel Dataframe 'df_panel':

| Company |  Year | Profit |
|---------|-------|--------|
| TSR     |  2023 |    789 |
| TSR     |  2024 |    987 |
| WVU     |  2023 |    456 |
| WVU     |  2024 |    654 |
| ZYX     |  2023 |    123 |
| ZYX     |  2024 |    321 |

In [15]:
import pandas as pd

# Create a DataFrame from the provided data
data = {
    'Company': ['ZYX', 'ZYX', 'WVU', 'WVU', 'TSR', 'TSR'],
    'Year': ['2023', '2024', '2023', '2024', '2023', '2024'],
    'Profit': [123, 321, 456, 654, 789, 987]
}

df_cross_section = pd.DataFrame(data)

# Set a MultiIndex with 'Company' and 'Year'
df_cross_section.set_index(['Company', 'Year'], inplace=True)

# Rename the index levels
df_cross_section.index.names = ['Company', 'Year']

# Print the DataFrame
print(df_cross_section)

              Profit
Company Year
ZYX     2023     123
        2024     321
WVU     2023     456
        2024     654
TSR     2023     789
        2024     987